@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --primary: #ea580c; /* orange-600 */
  --primary-light: #fb923c;
  --secondary: #0f172a; /* slate-900 */
  --background: #fafafa;
  --card-bg: #ffffff;
  --text-main: #111827;
  --text-muted: #6b7280;
  --border-color: #e5e7eb;

  --section-bg: #f8fafc;
}
body {
  background: var(--background);
  color: var(--text-main);
}
